.body{
  background-color: #3A3B3C;
}

.navbar{
  background-color: #FF3366;
}

.footer{
  text-align: right;
  position: absolute;
  padding-top: 20px;
}

.form{
float: center;
text-align: center;
}


.input-label{
  display: block;
  text-align: left;
  font-size: 1rem;
  color:white;
  font-weight: bold;
  margin-top: 1rem;
  width: 170px;
  padding-right: 20px;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
}

.input-group{
  padding-left: 273px;
}

.section{
  margin-top: 40px;
  background-color: rgb(112, 48, 64);
}

.container#account{
  padding: 0px;
  margin: 0px;
  justify-content: left;
  width: 824px;
  margin-left: 0px;
}

select{
  margin-top: 8px;
  border-radius: 0px;
  height: 49px;
  margin-bottom: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.form-select{
  border-radius: 0px;
  width: 200px;
  padding-left: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 382px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #FFAF7A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}