.body{
    background-color: #3A3B3C;
}

.navbar{
    /*background-image : linear-gradient(to left, #FF3366, #BA265D)*/
    background-color: #FF3366;
}

.overlay{
    position: absolute;
    z-index: 10;
    top:44%;
    width:100%;
    text-align: left;
    border-radius: 0;
}

.overlay h4{
    color: white;
    font-size: 40px;
    font-weight: 120px;
    padding-bottom: 10px;
    text-align: center;
}

.d-flex{
    margin: 0;
    padding: 0;
}

.search-button{
    background-color: #FFAF7A; 
    margin-top: 20px;
    border-radius: 20px;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.carousel-item{
    z-index: 1;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
    padding-bottom: 56.25%;
}

.footer{
    text-align: right;
    position: absolute;
    padding-top: 20px;
}

/*NEWLY ADDED*/
* {
    border-radius: 0 !important;
    outline: none;
    border-inline-color: none;
}

.datepicker{
    background-color: white;
    width: auto;
    color: white;
    border: none;
    outline: none;
}

input{
    border-width: 1px;
    border-color: lightgrey;
    width: 352px;
}

.select{
    width: 350px;
}

.datepicker{
    width: 352px;
}

.image, .form {
    display: inline-block;
    vertical-align: top;
}

input, select{
    height: 38px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input-group{
    margin-bottom: 1.5rem;
}

.input-label{
    display: block;
    font-size: 1rem;
    color:white;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 150px;
}

.bootstrap-selectpicker{
    width: 353px;
}

.container{
    padding: auto;
}

.form{
    width: 45%;
    float: left;
    
}

.image{
    float: center;
    padding-left: 60px;
}

section{
    height: 670px;
}

.form-select, .form-control, .input-group, .selectpicker{
    outline:none;
    border: none;
    min-height: 2rem;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}

.booking{
    background-color: rgb(112, 48, 64);
}

button:hover {
    opacity: 0.8;
}

